.country-pic-1 {
    background-image: url(../img/islandia.jpg);
}

.country-pic-2 {
    background-image: url(../img/holandia.jpg);
}

.country-pic-3 {
    background-image: url(../img/mongolia.jpg);
}

.country-pic-4 {
    background-image: url(../img/irlandia.jpg);
}

.country-pic-5 {
    background-image: url(../img/wlk-brytania.jpg);
}

.country-pic-6 {
    background-image: url(../img/kanada.jpg);
}

.country-pic-7 {
    background-image: url(../img/dania.jpg);
}

.country-pic-8 {
    background-image: url(../img/norwegia.jpg);
}

.country-pic-9 {
    background-image: url(../img/finlandia.jpg);
}

.country-pic-10 {
    background-image: url(../img/chiny.jpg);
}