.country-pic-1 {
    background-image: url(../img/grecja.jpg);
}

.country-pic-2 {
    background-image: url(../img/chorwacja.jpg);
}

.country-pic-3 {
    background-image: url(../img/turcja.jpg);
}

.country-pic-4 {
    background-image: url(../img/albania.jpg);
}

.country-pic-5 {
    background-image: url(../img/malta.jpg);
}

.country-pic-6 {
    background-image: url(../img/hiszpania.jpg);
}

.country-pic-7 {
    background-image: url(../img/bułgaria.jpg);
}

.country-pic-8 {
    background-image: url(../img/czarnogóra.jpg);
}

.country-pic-9 {
    background-image: url(../img/włochy.jpg);
}

.country-pic-10 {
    background-image: url(../img/portugalia.jpg);
}

@media (min-width: 730px) {
    .country-pic-1 {
        background-image: url(../img/grecja-2.jpg);
    }

    .country-pic-2 {
        background-image: url(../img/chorwacja-2.jpg);
    }

    .country-pic-3 {
        background-image: url(../img/turcja-2.jpg);
    }

    .country-pic-4 {
        background-image: url(../img/albania-2.jpg);
    }

    .country-pic-5 {
        background-image: url(../img/malta-2.jpg);
    }

    .country-pic-6 {
        background-image: url(../img/hiszpania-2.jpg);
    }

    .country-pic-7 {
        background-image: url(../img/bułgaria-2.jpg);
    }

    .country-pic-8 {
        background-image: url(../img/czarnogóra-2.jpg);
    }

    .country-pic-9 {
        background-image: url(../img/włochy-2.jpg);
    }

    .country-pic-10 {
        background-image: url(../img/portugalia-2.jpg);
    }
}