* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-one: #2E424D;
    --dark-dirty: #5B8291;
    --light-blue: #5accb9;
    --light-gray: #EAEBED;
}

body {
    /* background-image: linear-gradient(45deg, #5B8291 50%, #1FC5A8); */
    background-color: var(--dark-one);
    font-family: 'Roboto', sans-serif;
}

/* header */

header {
    width: 100%;
    height: 40vh;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}

.header-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    background-color: rgba(0, 0, 0, 0.121);
}

.header-box h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.8rem;
}

.fa-plane {
    transform: rotate(-45deg);
}

/* menu */

nav {
    width: 100%;
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

li {
    width: 100%;
    margin-top: 5px;
    background-color: var(--light-gray);
    text-align: center;
    border: 2px solid var(--dark-dirty);
    border-radius: 45px;
    transition: background-color .3s;
}

li a {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 80px;
    /* text-transform: uppercase; */
    text-decoration: none;
    color: #2E424D;
    font-size: 0.8rem;
    font-weight: bold;
    transition: color .3s;
}

li:hover,
li a:hover {
    cursor: pointer;
}

li:hover {
    background-color: var(--dark-dirty);
}

li:hover a {
    color: var(--light-gray);
}

/* main */

section {
    background-color: white;
    padding: 15px;
    margin: 0 5px 15px;
    border-radius: 8px;
    text-align: justify;
}

section h2 {
    margin: 2px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    color: var(--dark-one);
}

section p {
    font-size: 0.8rem;
    margin-top: 10px;
}

p span {
    color: var(--dark-dirty);
    font-weight: bold;
}

/* kraje */

.country {
    margin: 15px 0;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 0 10px 3px var(--light-gray);
    /* background-color: var(--light-gray); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.country-info {
    padding: 15px;
}

.country-info .fa-location-dot {
    margin-right: 10px;
    color: rgb(242, 76, 47);
}

.country-info h3 {
    color: var(--dark-dirty);
}

.country-pic {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
}

.fa-circle-info {
    color: rgb(242, 76, 47);
}

/* czesci krajow */

.country-tour {
    margin: 0 5px 10px;
    padding: 15px;
    border: 1px solid var(--dark-dirty);
    border-radius: 8px;
    background-color: #eee;
}

.country-tour p:first-child {
    font-weight: bold;
    color: var(--dark-one);
}

.fa-map-location-dot, .fa-right-long {
    color: rgb(242, 76, 47);
}

.weather-info {
    text-align: center;
}

.weather-info p {
    display: none;
}

.weather-info button {
    margin: 0 auto 15px;
    padding: 5px 10px;
    background-color: var(--light-gray);
    border: none;
    border-radius: 8px;
    color: rgb(242, 76, 47);
    font-weight: bold;
    transition: color .3s, background-color .3s;
}

.weather-info button:hover {
    background-color: rgb(242, 76, 47);
    color: var(--light-gray);
}

/* pogoda */

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 70%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(242, 76, 47);
    border-radius: 8px;
    box-shadow: 0 0 30px 7px black;
    padding: 20px;
}

.popup.active {
    display: flex;
}

.popup-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 98%;
    height: 98%;
    background-color: #fff;
    /* padding: 10px; */
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.popup-btn {
    margin: 0 auto 15px;
    padding: 5px 10px;
    background-color: var(--light-gray);
    border: none;
    border-radius: 8px;
    color: rgb(242, 76, 47);
    font-weight: bold;
    transition: color .3s, background-color .3s;
}

.popup-btn:hover {
    background-color: rgb(242, 76, 47);
    color: var(--light-gray);
}

/* stopka */

footer {
    width: 100%;
    height: 8vh;
    text-align: center;
    line-height: 8vh;
    background-color: var(--light-blue);
    color: #fff;
}