.country-pic-1 {
    background-image: url(../img/portugalia.jpg);
}

.country-pic-2 {
    background-image: url(../img/włochy.jpg);
}

.country-pic-3 {
    background-image: url(../img/chorwacja.jpg);
}

.country-pic-4 {
    background-image: url(../img/grecja.jpg);
}

.country-pic-5 {
    background-image: url(../img/hiszpania.jpg);
}

.country-pic-6 {
    background-image: url(../img/tunezja.jpg);
}

.country-pic-7 {
    background-image: url(../img/madagaskar.jpg);
}

.country-pic-8 {
    background-image: url(../img/turcja.jpg);
}

.country-pic-9 {
    background-image: url(../img/filipiny.jpg);
}

.country-pic-10 {
    background-image: url(../img/meksyk.jpg);
}